# AIRFLOW_IMAGE_NAME=
# AIRFLOW_UID=
# AIRFLOW_PROJ_DIR=
# AIRFLOW_PORT=

# FERNET_KEY=
# AIRFLOW__API_AUTH__JWT_SECRET=
# _AIRFLOW_WWW_USER_USERNAME=
# _AIRFLOW_WWW_USER_PASSWORD=

# DWH_POSTGRES_USER=
# DWH_POSTGRES_PASSWORD=
# DWH_POSTGRES_DB=
# DWH_POSTGRES_PORT=

# CLICKHOUSE_USER=
# CLICKHOUSE_PASSWORD=
# CLICKHOUSE_DB=
# CLICKHOUSE_HTTP_PORT=
# CLICKHOUSE_TCP_PORT=

# METABASE_PORT=

# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=

# _PIP_ADDITIONAL_REQUIREMENTS=

#KAGGLE_API_TOKEN=
